@import "../_sass/classes";
@import "../_sass/variables";
@import "../_sass/mixins";

.home {
  @extend %container;
  .categories,
  .posts {
    .sec-desc {
      padding: 55px 0px;
      h2 {
        @extend %title;
      }
      p {
        @extend %p;
      }
    }

    .main-cat,
    .main-posts {
      width: 100%;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));

      .cat {
        background-color: orange;
        height: 419px;

        .background {
          width: 100%;
          height: 85%;
          background-image: url("https://i.ibb.co/kmPYFTP/EFRa-QO0-Ws-AEvp-YZ.jpg");
          background-size: cover;
          background-position: center;
          .hid-div {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 165, 0, 0.3);
          }
        }
        h2 {
          text-align: center;
          color: #fff;
          margin-top: 7px;
        }
      }
    }
  }
}
.categories {
  padding-bottom: 126px;
  border-bottom: 2px solid orange;
}
