%input {
  width: 300px;
  height: 30px;
  padding: 8px 2px;
  margin: 12px 4px;
}
%title {
  text-align: center;
  margin: 14px 4px;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}
%container {
  width: 80%;
  margin: auto;
  padding: 30px 0px;
  text-align: center;
}
%p {
  padding: 16px;
  font-size: 23px;
  color: #828282;
}
